
<!-- <app-register></app-register> -->


<nav>
        <button  *ngIf = "!auth.isAuthenticated"  mat-button routerLink="/register">Register </button>
         </nav>
         

         
<button mat-button   *ngIf = "auth.isAuthenticated"  routerLink="/register">Welcome  {{auth.name}}</button>

<button mat-button   *ngIf = "auth.isAuthenticated"  (click)="auth.logout()">Logout</button>

   
   <router-outlet> </router-outlet>
   
<br/>
<br/>


<app-messages     ></app-messages>

<br/>

<app-new-message  onPosted =  "onPosted($event)" ></app-new-message>