Register Page..


<mat-card>

<form   [formGroup]= "form"  (ngSubmit)="onSubmit()">
    <mat-input-container class="example-full-width">
        <input matInput  [ngClass]="{'error': form.controls.firstName.invalid && form.controls.firstName.touched }"  placeholder="First Name"  formControlName="firstName">
    </mat-input-container>
    <mat-input-container class="example-full-width">
        <input matInput placeholder="Last Name" formControlName="lastName">
    </mat-input-container>
    <mat-input-container class="example-full-width">
        <input matInput  type="email" placeholder="Email" formControlName="email" >
    </mat-input-container>
    <mat-input-container class="example-full-width">
        <input matInput  type="password" placeholder="Password"  formControlName="password">
    </mat-input-container>
    <mat-input-container class="example-full-width">
        <input matInput     type="password"  placeholder="Confirm Password" formControlName="confirmpassword">
    </mat-input-container>
    <br>
    <span  *ngIf="form.errors?.matchingFields" >Password and Confirm Password do not Matched</span>
    <br/>
    <button  mat-button color="primary">Register</button>
</form>

</mat-card>
