<div>
  messages works!  We Have  {{messages.length}} messages.
</div>


<mat-card *ngFor= "let m of  messages ">

    <mat-card-title>
        {{m.name}}        
    </mat-card-title>

    <mat-card-content>

      {{m.text}}
    </mat-card-content>


        

</mat-card>


<div>
  <button  mat-raised-button >Test</button>

</div>


