<mat-card>
  new-message works!


  <mat-card-content>
    <mat-input-container>
      <input  [(ngModel)]= "messages.name"   matInput placeholder=" New message">
    </mat-input-container>

    <mat-input-container>
      <textarea  [(ngModel)]  = "messages.text" matInput placeholder="New message area"></textarea>
    </mat-input-container>


  </mat-card-content>

  <mat-card-actions>
    <button mat-button  (click)="Post()"  color="primary"> POST </button>
  </mat-card-actions>


</mat-card>


<!-- sdfgh -->