/* You can add global styles to this file, and also import other style files */


/*
include a Theme :
To get started with a prebuilt theme, include one of Angular Material's 
prebuilt themes globally in your application. If you're using the Angular CLI, 
you can add this to your styles.css:
*/

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body{
    background: #eeeeee
}

mat-card-title{
    background: greenyellow;
}

mat-card-content{
    background: goldenrod
}

mat-raised-button{
    background-color: peru;
}